<%- include('partials/header') %>
  <h1>Welcome!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ut sed laboriosam quae, a sint eaque esse soluta enim obcaecati reprehenderit ratione et molestiae nisi adipisci dolorum dolor qui dolore, exercitationem quisquam. Consequuntur laudantium sequi facere nulla reiciendis consectetur sit sint voluptate, voluptates dolor accusantium debitis aspernatur expedita dicta dolore.</p>
  <a href="/logout">Log out</a>
<%- include('partials/footer') %>
